/* Colors */
:root {
  --primary: #b798ff;
  --secondary: #00ffff;
  --background: #121212;
  --surface: rgba(255, 255, 255, 0.05);
  --surface-highlighted: rgba(255, 255, 255, 0.10);
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #000000;
  --on-secondary: #000000;
}

/* Color Classes */
.primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.background {
  background-color: var(--background);
  color: var(--on-background);
}

.surface {
  background-color: var(--surface);
  color: var(--on-surface);
}

.highlight-hover:hover {
  background-color: var(--surface-highlighted);
}

.primary-text {
  color: var(--primary);
}

.secondary-text {
  color: var(--secondary);
}

.on-surface-text {
  color: var(--on-surface);
}

.primary-border {
  border: 2px solid var(--primary);
}

.secondary-border {
  border: 2px solid var(--secondary);
}

/* Utility Classes */
.hidden {
  display: none !important;
}

/* Fonts */
:root {
  --primary-font: 'Odibee Sans', sans-serif;
  --secondary-font: 'Baloo Da 2', sans-serif;
}

/* General */
body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--on-background);
  font-family: var(--secondary-font);
}

a {
  text-decoration: none;
}

a:hover {
  text-transform: uppercase;
}

button {
  margin: .5rem 0 0 0;
  border-radius: 5px;
  font-family: var(--secondary-font);
  font-size: 1rem;
}

button:hover,
button:focus {
  text-transform: uppercase;
}

input, textarea {
  background-color: var(--surface);
  color: var(--secondary);
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 .5rem;
}
